<div id="currency-chart-page-wrapper" class="container">
    <div class="filter-wrapper">
        <div class="form-group col-md-4">
            <span class='input-group date' id='date-start' >
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </span>
        </div>
        <div class="form-group col-md-4">
            <span class='input-group date' id='date-end' >
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </span>
        </div>
    </div>
    <div id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>    